@import './theme';

.disabled
  opacity .5

.clearfix
  zoom 1
  &::after
    content ''
    clear both
    display block

.f-l
  float left

.f-r
  float right

.f-12
  font-size 12px

.t-c
  text-align center

.b-b
  position relative
  &::after
    position absolute
    left 0
    bottom 0
    content ''
    height 1px
    width 100%
    background $color-light-grey
    transform scaleY(.5)
    