.cube-upload-def
  display flex
  flex-wrap wrap
  margin 0
  overflow hidden
  .cube-upload-file
    position relative
    flex-basis 31.3%
    margin 1%
    &:nth-child(3n)
      margin-right 0
    box-sizing border-box
    .cube-upload-file-def
      width 100%
      padding-top 100%
      &>.cubeic-wrong
        top 0px
        right 0px
  .cube-upload-btn
    position relative
    flex-basis 31.3%
    margin 1%
    margin-right 0
    .cube-upload-btn-def
      width 100%
      padding-top 100%