.m-r-s
  margin-right .5em

.m-b-s
  margin-bottom .5em

.m-b-m
  margin-bottom 1em

.m-b-l
  margin-bottom 1.5em

.m-t-s
  margin-top .5em

.m-t-l
  margin-top 1.5em

.m-x-s
  margin-left .5em
  margin-right .5em

.m-x-m
  margin-left 1em
  margin-right 1em

.m-y-s
  margin-top .5em
  margin-bottom .5em

.p-b-s
  padding-bottom .5em

.p-x-s
  padding-left .5em
  padding-right .5em