.m-b-s
  margin-bottom .5em

.m-b-l
  margin-bottom 1.5em

.m-t-s
  margin-top .5em

.m-t-l
  margin-top 1.5em

.m-x-s
  margin-left .5em
  margin-right .5em

.m-y-s
  margin-top .5em
  margin-bottom .5em